<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            
            {% stylesheets 
                output='css/main.css'
                filter='cssrewrite'
                debug=false
                '@DaniBlogBundle/Resources/public/css/bootstrap.min.css'
                '@DaniBlogBundle/Resources/public/css/bootstrap-theme.min.css'
            -%}

                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
            
            {% endstylesheets %}

        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'DaniBlogBundle:Template:navigation.html.twig' %}
        
        {% if title is defined %}
            {% include 'DaniBlogBundle:Template:head.html.twig' %}
        {% endif %}
        
        <div class='row'>
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
            
            {% javascripts
                output='js/main.js'
                debug=false
                '@DaniBlogBundle/Resources/public/js/jquery.js'
                '@DaniBlogBundle/Resources/public/js/bootstrap.min.js'
            -%}

                    <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}
        
    </body>
</html>
